*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
}

:root{
    --corPrincipal:  rgb(16, 26, 16);
    --corSecundaria:  blanchedalmond;
}
@media (max-width:769px){
    .container{
        max-width: 769px;
    }
}